@keyframes tab-ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes tab-slide-in {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
    	/* from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	} */
}

span.tab-ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: tab-ripple 400ms linear;
    background-color: rgba(255, 255, 255, 0.5);
}

.my-tabstrip-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    line-height: initial;
    text-align: initial;
    
}

.my-tabstrip-li {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-width: 0; /* Serve per far andare overflow ellipsis */
    animation: tab-slide-in .3s linear;
    overflow: hidden;
}

.my-tabstrip-li:hover {
    filter: brightness(1.05);
}

.my-tabstrip-li-a {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my-tabstrip-li-icon {
    padding: 2px 4px;
    margin-left: 8px;
    margin-right: -8px;
}
.my-tabstrip-li-icon:hover {
    filter: brightness(1.05);
}

.active:hover {
    filter: none !important;
}

.action-add {
    width: initial !important;
    border: 0;
    align-items: center;
}

.action-add a {
    font-size: 20px;
    height: 16px;
    line-height: 16px;
    padding: 2px;
    border-radius: 4px;
}
